<nav class="navbar navbar-dark bg-dark">
    <div>
        <a [routerLink]="" (click)="mylist()">
            MySubscriptions
        </a>
    </div>
    <div>
        <button class="btn btn-danger">Logout</button>
    </div>
</nav>
<hr>
<div class="container">
    <div class="container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#Notification</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let e of events">
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-primary" (click)="subscribe(e.eventId)">Subscribe</button>
                    </th>
                    <td>{{e.eventId}}</td>
                    <td>{{e.eventName}}</td>
                    <td>{{e.eventType}}</td>
                    <td>{{e.eventDateTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>