<nav class="navbar navbar-dark bg-dark">
    <div>
        <a [routerLink]="" (click)="gotoCustomize()">
            <header>Create Custom Event</header>
        </a>
    </div>
    <div>
        <header>Raise an event</header>
    </div>
    <div>
        <a [routerLink]="" (click)="gotoEdit()">
            <header>Cancel Notifications</header>
        </a>
    </div>
</nav>
<hr>

<div class="container">
    <div class="container message">

    </div>
    <br>
    <div class="container creation">
        <div class="form-group">
            <label for="event-type">Event Type ?</label>
            <select class="form-control" id="event-type">
                <option *ngFor="let event of eventTypes" value="{{event.eventType}}">{{event.eventType}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="event-type">Event Name</label>
            <input type="text" placeholder="Enter event name . . ." class="form-control" id="event-name">
        </div>
        <div class="form-group">
            <label for="event-type">Event Description</label>
            <input type="text" placeholder="Enter event description . . ." class="form-control" id="event-description">
        </div>
        <div class="form-group">
            <label for="event-template">Choose an email template</label>
            <select class="form-control" (change)="etSelected($event)">
                <option *ngFor="let t of mailTemplates" value="{{t.templateId}}">{{t.templateDescription}}</option>
            </select>
            <br>
            <label for="event-template">Choose a sms template</label>
            <select class="form-control" (change)="stSelected($event)">
                <option *ngFor="let t of smsTemplates" value="{{t.templateId}}">{{t.templateDescription}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="template-preview">Preview</label>
            <div class="container">
                <!-- <textarea class="form-control" rows="6" [disabled]="editable"></textarea><br>
                <button type="button" class="btn btn-primary" (click)="enableEdit()">Edit</button> -->
                <ngb-tabset [destroyOnHide]="false">
                    <ngb-tab title="Basic Email Preview">
                        <ng-template ngbTabContent>
                            <ckeditor #binding [editor]="Editor" [(data)]="data" (change)="onChange($event)">
                            </ckeditor>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle>SMS Setting</ng-template>
                        <ng-template ngbTabContent>
                            <textarea class="form-control" [(value)]="smsBody" rows="6" id="smsBody"
                                [disabled]="editable"></textarea><br>
                            <button type="button" class="btn btn-primary" (click)="enableEdit()">Edit</button>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
        <div class="form-group">
            <label for="event-audience">Choose recipients</label>
            <input type="text" class="form-control" id="custom-audience"
                placeholder="enter ; separated list of recipients and/or select from below"><br>
            <ul class="checkbox-grid" style="list-style: none;" id="audience-group">
                <li *ngFor="let user of userDetails">
                    <input type="checkbox" name="text1" value="{{user.userId}}" class="audience" />
                    <label for="text1">{{user.userName}}</label>
                </li>
            </ul>
        </div><br><br>
        <br>
        <div class="form-group">
            <label for="event-date">Event Date</label>
            <input type="date" class="form-control" id="eventDate">
        </div>
        <br>
        <div class="form-group">
            <label for="event-mode">Event Communication Mode</label>
            <ul class="checkbox-grid" style="list-style: none;">
                <li><input type="checkbox" name="text1" value="Sms" class="mode" /><label for="text1">Sms</label></li>
                <li><input type="checkbox" name="text2" value="Mail" class="mode" /><label for="text2">Mail</label></li>
            </ul>
        </div><br>
        <div class="container">
            <button type="button" class="btn btn-success" (click)="getValues()">Raise event</button>
        </div><br>
    </div><br>
</div><br>

<hr>