<nav class="navbar navbar-dark bg-dark">
    <div>
        <header>Raise an event</header>
    </div>
</nav>
<hr>

<div class="container">
    <div class="container message">

    </div>
    <br>
    <div class="container creation">
        <div class="form-group">
            <label for="event-type">Event Type ?</label>
            <select class="form-control">
                <option value="">Event/Celebration</option>
                <option value="">Urgent Help</option>
                <option value="">Holiday</option>
                <option value="">Nagarro News</option>
                <option value="">News Policy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="event-template">Choose a template</label>
            <select class="form-control">
                <option value="t1">Template 1</option>
                <option value="t2">Template 2</option>
                <option value="t3">Template 3</option>
                <option value="t4">Template 4</option>
                <option value="t5">Template 5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="template-preview">Preview</label>
            <div class="container">
                <textarea class="form-control" rows="6" [disabled]="editable"></textarea><br>
                <button type="button" class="btn btn-primary" (click)="enableEdit()">Edit</button>
            </div>
        </div>
        <div class="form-group">
            <label for="event-audience">Choose recipients</label>
            <input type="text" class="form-control" id="custom-audience"
                placeholder="enter ; separated list of recipients and/or select from below"><br>
            <ul class="checkbox-grid" style="list-style: none;" id="audience-group">
                <li><input type="checkbox" name="text1" value="email1" class="audience" /><label for="text1">Name
                        1</label>
                </li>
                <li><input type="checkbox" name="text2" value="email2" class="audience" /><label for="text2">Name
                        2</label>
                </li>
                <li><input type="checkbox" name="text3" value="email3" class="audience" /><label for="text3">Name
                        3</label>
                </li>
                <li><input type="checkbox" name="text4" value="email4" class="audience" /><label for="text4">Name
                        4</label>
                </li>
                <li><input type="checkbox" name="text5" value="email5" class="audience" /><label for="text5">Name
                        5</label>
                </li>
                <li><input type="checkbox" name="text6" value="email6" class="audience" /><label for="text6">Name
                        6</label>
                </li>
                <li><input type="checkbox" name="text7" value="email7" class="audience" /><label for="text7">Name
                        7</label>
                </li>
                <li><input type="checkbox" name="text8" value="email8" class="audience" /><label for="text8">Name
                        8</label>
                </li>
            </ul>
        </div><br><br>
        <br>
        <div class="form-group">
            <label for="event-date">Event Date</label>
            <input type="date" class="form-control" id="eventDate">
        </div>
        <br>
        <div class="form-group">
            <label for="event-mode">Event Communication Mode</label>
            <ul class="checkbox-grid" style="list-style: none;">
                <li><input type="checkbox" name="text1" value="Sms" /><label for="text1">Sms</label></li>
                <li><input type="checkbox" name="text2" value="Mail" /><label for="text2">Mail</label></li>
            </ul>
        </div><br>
        <div class="container">
            <button type="button" class="btn btn-success" (click)="getValues()">Raise event</button>
        </div><br>
    </div><br>
</div><br>

<hr>
<div class="container">
    <h2>Preview</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="assets/sample.html" allowfullscreen></iframe>
    </div>
</div>
<br><br><br>